/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
html, body {
    height: 100%;
}

body {
    margin: .6rem;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, 'Helvetica Neue', 'Segoe UI', sans-serif;
}